# Ignore PDF Files

PDF_data/

citing_overview_paper_paper_pdfs_TREC/

citing_overview_paper_paper_pdfs/



# Ignore all .ipynb_checkpoints folder
.ipynb_checkpoints/

# Ignore all .idea folder
.idea/

# Ignore XML files
resources/



# Ignore files that are too big for GitHub

data/OpenAlex_CEUR_citing_doc.json
data/OpenAlex_LNCS_citing_doc.json
data/OpenAlex_TREC_citing_doc.json
data/author_metadata.json
data/SemanticScholar_CEUR_additional_metadata.json